#app-mount {
	._960e4207cea8323e-bg {
		top: -22px;
		right: 0;
		bottom: 0;
		left: 0;
		background: var(--background-image);
		background-position: var(--background-image-position, center);
		background-size: var(--background-image-size, cover);

		&::before {
			content: '';
			position: absolute;
			top: calc(var(--window-padding) + 22px);
			right: var(--window-padding);
			bottom: var(--window-padding);
			left: var(--window-padding);
			border-radius: var(--window-roundness);
			backdrop-filter: blur(var(--background-image-blur));
			box-shadow: inset 0 0 0 100vmax var(--tint);
			display: var(--background-blur-visiblity, block);
		}
	}

	[role='menu'],
	._13533e3c5791980f-autocompleteInner,
	._55c999adcf6db265-container,
	.container-enaOkj,
	.container__56cd1,
	.contextMenu-HLZMGh:not(.scroller-2FKFPG),
	._084343c4f11eaaab-contentWrapper,
	.a3002d7de5be5280-appAsidePanelWrapper ._59d0d7075b521375-layerContainer ._59d0d7075b521375-clickTrapContainer #emoji-picker-tab-panel, //for the reaction picker on messages, distinct from normal emoji picker
	.e8b59c4b335dd2fc-messagesPopoutWrap,
	.ab9bdf90e7c35b35-modal:not(.slide-2pHaq5),
	.root-1gCeng:not(.fullscreenOnMobile-1bD22y),
	.root-8LYsGj,
	.subMenuContext-2n_9YM .scrollerWrap-2lJEkd,
	.ac6cb02cd15b4b3b-quickswitcher,
	.root-1gCeng.wrapper-2ZbzR9,
	.modalRoot-1Kx4Hb,
	.container-3JTnYm.thin-1ybCId.scrollerBase-_bVAAt,
	._0f481cbbd7530492-popoutContainer,
	.userProfileModalOuter_c69a7b,
	.container-2O1UgZ,
	.d9c8822889d1d4a1-container,
	._76f047ded9fef6d4-popout,
	.b49891f8a231dbff-reactionTooltip,
	._09f65b4b8a3f8d26-picker,
	.container-3a5mk-,
	._86331cbd99f88226-popout,
	.a16aea1526925c2c-popout,
	._6da2d8abf659f945-streamPreview,
	.f7ecaca5c80dbf3a-wrapper {
		overflow: hidden !important;
		position: relative;
		border-radius: 3px;
		border: none;

		&::before {
			content: '';
			background: linear-gradient(var(--tint), var(--tint)), var(--fb-overlay-image);
			background-position: var(--fb-overlay-position, center);
			background-size: var(--fb-overlay-size, cover);
			background-attachment: var(--fb-overlay-attachment, fixed);
			background-repeat: var(--fb-overlay-repeat, no-repeat);
			box-shadow: inset 0 0 0 100vmax rgb(0, 0, 0, var(--overlay-brightness, var(--popout-modal-brightness)));
			height: calc(100% + var(--fb-overlay-blur) * 5);
			width: calc(100% + var(--fb-overlay-blur) * 5);
			top: calc(var(--fb-overlay-blur) / -1 * 2.5);
			left: calc(var(--fb-overlay-blur) / -1 * 2.5);
			position: absolute;
			filter: blur(var(--fb-overlay-blur));
			transform: translate(var(--fb-overlay-blur) / -1, calc(var(--fb-overlay-blur) / -1));
			pointer-events: none;
			user-select: none;
			z-index: -1;
		}
	}

	._0f481cbbd7530492-topicsDropdownBase,
	._4e30a003110eaaf1-container {
		overflow: hidden !important;
		position: absolute;
		border-radius: 3px;

		&::before {
			content: '';
			background: linear-gradient(var(--tint), var(--tint)), var(--fb-overlay-image);
			background-position: var(--fb-overlay-position, center);
			background-size: var(--fb-overlay-size, cover);
			background-attachment: var(--fb-overlay-attachment, fixed);
			background-repeat: var(--fb-overlay-repeat, no-repeat);
			box-shadow: inset 0 0 0 100vmax rgb(0, 0, 0, var(--overlay-brightness, var(--popout-modal-brightness)));
			height: calc(100% + var(--fb-overlay-blur) * 5);
			width: calc(100% + var(--fb-overlay-blur) * 5);
			top: calc(var(--fb-overlay-blur) / -1 * 2.5);
			left: calc(var(--fb-overlay-blur) / -1 * 2.5);
			position: absolute;
			filter: blur(var(--fb-overlay-blur));
			transform: translate(var(--fb-overlay-blur) / -1, calc(var(--fb-overlay-blur) / -1));
			pointer-events: none;
			user-select: none;
			z-index: -1;
		}
	}

	section._084343c4f11eaaab-positionContainer .c0bea05627c5dc35-outer {
		overflow: hidden !important;
		position: absolute;
		border-radius: 3px;

		&::before {
			content: '';
			background: linear-gradient(var(--tint), var(--tint)), var(--fb-overlay-image);
			background-position: var(--fb-overlay-position, center);
			background-size: var(--fb-overlay-size, cover);
			background-attachment: var(--fb-overlay-attachment, fixed);
			background-repeat: var(--fb-overlay-repeat, no-repeat);
			box-shadow: inset 0 0 0 100vmax rgb(0, 0, 0, var(--overlay-brightness, var(--popout-modal-brightness)));
			height: calc(100% + var(--fb-overlay-blur) * 5);
			width: calc(100% + var(--fb-overlay-blur) * 5);
			top: calc(var(--fb-overlay-blur) / -1 * 2.5);
			left: calc(var(--fb-overlay-blur) / -1 * 2.5);
			filter: blur(var(--fb-overlay-blur));
			transform: translate(var(--fb-overlay-blur) / -1, calc(var(--fb-overlay-blur) / -1));
			pointer-events: none;
			user-select: none;
			z-index: -1;
		}
	}
}
