#app-mount {
	.c36707910f687430-tooltip {
		color: var(--text-normal);
		text-align: center;
		font-weight: 600;
	}
	.c36707910f687430-tooltipPrimary {
		background: var(--gradient);
		.c36707910f687430-tooltipPointer {
			display: none;
		}
	}
}
