#app-mount ._5e434347c823b592-guilds {
	// This is disabled for now as the background is transparent by default so the coloring actually looks nice by default
	// [class*='expandedFolderBackground'] {
	// 	background: var(--foreground);
	// }
	// [class*='folder'] {
	// 	background: transparent;
	// }
}
