#app-mount ._133bf5eea8e33a34-container {
	background: rgb(0, 0, 0, var(--middle-brightness));

	._133bf5eea8e33a34-tabBody {
		background: transparent;
	}

	._9293f6b2fc12398a-container {
		background: transparent;
	}

	._7e549558f336cddb-itemCard, .eafb9cc569d6dcbd-card, ._6811a89c5c687a9a-blockedIgnoredSettingsNotice {
		border: none;
		background: var(--foreground-half)
	}

	._7e549558f336cddb-itemCard:hover {
		background: var(--foreground);
	}
	._133bf5eea8e33a34-nowPlayingColumn, ._7d20cf18f8a2784c-container {
		background: rgb(0, 0, 0, var(--right-brightness));
	}
	._7d20cf18f8a2784c-scroller {
		border: none;
	}
}
