#app-mount {
	.c8ffbb79449f399c-container {
		border: none;
		background: transparent;
	}
	.c8ffbb79449f399c-membersWrap {
		background-color: rgb(0, 0, 0, var(--right-brightness));
	}
	.c8ffbb79449f399c-members {
		background: transparent;
		& > div {
			background: transparent;
		}
	}
}
