#app-mount {
	.cb9592ad77576717-wrapper.cb9592ad77576717-minimum {
		background: var(--background-secondary);
	}
	.centerButton-3CaNcJ {
		background: var(--foreground);
		&:hover {
			background: var(--foreground-double);
		}
	}
	._1405b3b8e8eb5fd0-controlButton.leaveButton-2YnTyt {
		background: rgb(var(--discord-red), 0.5);
		&:hover {
			background: rgb(var(--discord-red));
		}
	}
	.quickSelect__540d0 {
		margin-top: 10px;
	}
	// fixed embedded chat button
	.chatButton_dd069c {
		right: 120px;
	}
}
