#app-mount {
	.container-3wLKDe {
		background: transparent;
	}
	.f369dba7416c67f0-container {
		background: var(--background-secondary);
	}
	.f369dba7416c67f0-header {
		background: var(--background-secondary);
		.title-1v5ZfI {
			background: transparent;
		}
	}
	.a2c9e80f6531ccc2-pill {
		background: var(--foreground);
		transition: 0.15s ease background;
		&:hover {
			background: var(--foreground-double);
		}
	}
}
