#app-mount {
	.c19a557985eb7793-cozy .header-23xsNx {
		margin-left: 0;
		padding-left: 0;
	}
	.fd14e024a43b9049-message {
		background: transparent;
		box-shadow: none;
	}
	// Attachments,pings,codeblocks ect...
	._5126c0cd07f243a0-message {
		background: transparent !important;
		._23977d5b7cef7361-reaction {
			background: var(--foreground);
			&._23977d5b7cef7361-reactionMe {
				background: var(--gradient);
				._23977d5b7cef7361-reactionCount {
					color: var(--text-normal);
				}
			}
		}
		.f7ecaca5c80dbf3a-wrapper {
			background: var(--background-secondary);
		}
		._0ccaee68b77c7469-file,
		.cf09d85aafe7e124-wrapperAudio,
		code {
			background-color: var(--chat-embed);
			border: none;
		}
		._623de82e76ad7f82-embedFull {
			background-color: var(--chat-embed);
		}
	}
	.hljs {
		color: var(--text-default);
	}
	// Mentions
	._5126c0cd07f243a0-mentioned {
		background: var(--gradient-20) !important;
		&::before {
			background: var(--gradient);
		}
	}

	//Username or channel mention
	._4106ae7c1472c1de-wrapper {
		background: var(--gradient);
		color: var(--text-normal);
	}

	.popoverReactionHoverBar_f84418 {
		backdrop-filter: blur(6px);
	}
}
