#app-mount ._13533e3c5791980f-autocomplete {
	box-shadow: none;
	.selectorSelected-1_M1WV {
		background: var(--foreground);
	}
	._13533e3c5791980f-divider {
		background-color: var(--foreground);
	}
	.description-11DmNu,
	.descriptionUsername-J_75O8 {
		color: var(--text-normal);
	}
	._13533e3c5791980f-descriptionDiscriminator {
		color: var(--text-muted);
	}
}
