#app-mount {
	//Stuff that should ONLY apply to dedicated emoji/sticker/gif picker
	._084343c4f11eaaab-drawerSizingWrapper {
		--frostedglass-emojipicker-header-brightness: 50%;

		right: 0;
		position: absolute !important;

		._084343c4f11eaaab-nav {
			padding: 0 0 5px 13px;
			z-index: 999;
		}

		._084343c4f11eaaab-navList {
			padding-top: 12px;
		}

		[class*='searchBar'] {
			background: var(--background-secondary);
		}
		._084343c4f11eaaab-contentWrapper {
			display: grid;
			border: none;
			box-shadow: none;
			padding-top: 0px;
			grid-template-rows: auto 1fr;
			grid-row-gap: 0px;
			background: transparent;
		}
		[aria-selected='true'] ._084343c4f11eaaab-navButton {
			background: var(--gradient);
		}
		._084343c4f11eaaab-navButton {
			background: var(--foreground);
			padding: 6px 5px 7px;
		}
		// GIFs
		.d02962a38047ac3c-categoryFadeBlurple {
			background: var(--gradient-90);
		}
		.focused-q9B2e4::after,
		.result-3OpoO7:hover::after {
			box-shadow: inset 0 0 0 2px rgb(var(--gradient-primary));
		}
		.result-3OpoO7 {
			background-color: var(--foreground) !important;
		}


		//Cursed sticker bullsht, why is there a inset, why is it entirely different?
		//Have to set it to 0 explicitly otherwise stuff breaks and now i have to also
		//add more padding, i am not sure why it differs greatly from the emoji tab
		//Watch out with forcing insets though, this could cause spasming and flickering if forced when its JS controlled
		//Sticker category header ie: Frequently Used, PACK NAME
		.d125d22cdfd32cfe-thin .affa7e120767dd82-listItems {
			left: 0px !important;
			.c6367b0f171ba6d7-row {
				//Set the padding left just like on emojis
				margin-left: 8px;
			}
		}
	}

	//Stuff that should only apply to emoji/gif/sticker picker
	.c0e32c5cffed3d9f-emojiPicker, ._8ef02eea17068b73-wrapper {
		box-shadow: none;
		background: transparent;

		&::before {
			box-shadow: none;
			filter: blur(10px);
		}
	}

	//Stuff that should only apply to the super reaction picker
	.a3002d7de5be5280-appAsidePanelWrapper ._59d0d7075b521375-layerContainer ._59d0d7075b521375-clickTrapContainer ._59d0d7075b521375-layer > div:has(.c0e32c5cffed3d9f-isBurstReactionPicker) {
		//Set back discord stupid super react effect but on a different layer because otherwise we cannot use a proper background
		box-shadow: 0 0 0 2px var(--bg-brand);
		border-radius: var(--custom-emoji-picker-border-radius);

		&::before {
			box-shadow: 0 0 100px var(--bg-brand);
			border-radius: var(--custom-emoji-picker-border-radius);
			content: "";
			height: 100%;
			opacity: .5;
			pointer-events: none;
			position: absolute;
			width: 100%;
		}
	}

	//Stuff that should only apply to the reaction picker
	.a3002d7de5be5280-appAsidePanelWrapper ._59d0d7075b521375-layerContainer ._59d0d7075b521375-clickTrapContainer:not(:has(.c0e32c5cffed3d9f-emojiPickerHasTabWrapper)) #emoji-picker-tab-panel {
		.c0e32c5cffed3d9f-categoryList {
			top: 68px;
		}
	}

	.c0e32c5cffed3d9f-isBurstReactionPicker {
		&::before {
			//Undo discord its .5 opacity
			opacity: 1;
		}
	}

	//Stuff that should apply to reaction AND emoji/gif/sticker picker
	.c0e32c5cffed3d9f-emojiPicker,
	._8ef02eea17068b73-wrapper,
	#emoji-picker-tab-panel,
	._084343c4f11eaaab-drawerSizingWrapper {
		animation: fadeIn 0.3s ease forwards;
		[class*='header'] {
			box-shadow: none;
		}

		._14245bb948377a25-wrapper, ._0d1eff984b8fd277-wrapper {
			background: var(--background-secondary);
			// backdrop-filter: blur(10px) brightness(var(--frostedglass-emojipicker-header-brightness));

			&::after{
				content: none;
			}
		}
		.searchBar_c0e32c {
			background: var(--background-secondary);
		}

		.aeaaeb2a573807f0-inspector {
			border: none;
			background: var(--background-secondary);
			// backdrop-filter: brightness(var(--frostedglass-emojipicker-header-brightness));
		}

		.c0e32c5cffed3d9f-emojiPickerHasTabWrapper .c0e32c5cffed3d9f-categoryList,
		._3ad28b0867fa3fad-categoryList {
			//This crime has to be done because discord thought it was a good idea to create a grid for the elements but have
			//one of those items live outside of the actual grid and instead absolute/relative position it into a cell
			//literally why
			top: 52px;
		}

		.b9ee0c229bc0b6bb-unicodeShortcut,
		._3ad28b0867fa3fad-standardStickerShortcut {
			border: none;
			background: var(--background-primary);
		}

		.c0e32c5cffed3d9f-categoryList,
		._3ad28b0867fa3fad-categoryList {
			background: var(--background-secondary);
			// backdrop-filter: brightness(var(--frostedglass-emojipicker-header-brightness));

			.affa7e120767dd82-scroller {
				height: calc(100% - var(--custom-emoji-picker-constants-unicode-category-shortcut-height));
			}
		}

		.c0e32c5cffed3d9f-categoryList:has(.b9ee0c229bc0b6bb-unicodeShortcutInvisible),
		._3ad28b0867fa3fad-categoryList:not(:has(._3ad28b0867fa3fad-standardStickerShortcut)){
			.affa7e120767dd82-scroller {
				height: 100%;
			}
		}

		.fed6d32841cc2da2-container {
			background: var(--background-primary);
		}

		.c0e32c5cffed3d9f-header, ._8ef02eea17068b73-header, .fed6d32841cc2da2-header {
			border-radius: 0px;
			border: none;
			background: var(--background-secondary);
			// backdrop-filter: brightness(var(--frostedglass-emojipicker-header-brightness));
		}

		._14245bb948377a25-header {
			background: rgb(0, 0, 0, 0.6);
			padding: 2px;
			border-radius: 3px;
		}

		.container_a45028{
			border: none;
		}

		// Emoji
		.fc7141859aaa98b7-emojiItemSelected {
			background: var(--foreground-double);
		}
		._084343c4f11eaaab-nav {
			background: var(--background-secondary);
		}
		._084343c4f11eaaab-navItem {
			color: var(--text-normal);
		}

		.a45a2a5d0f4caddc-diversitySelectorOptions {
			background: var(--background-secondary);
		}
	}
}