#app-mount {
	._55c999adcf6db265-container {
		background: transparent;
		box-shadow: none;
		._56fec8e8b8048fe0-displayedNick {
			color: var(--text-normal);
		}
		._56fec8e8b8048fe0-displayUsername {
			color: var(--text-muted);
		}
		._56fec8e8b8048fe0-option {
			._56fec8e8b8048fe0-content {
				--webkit-mask-image: linear-gradient(90deg, white, white 95%, transparent);
				mask-image: linear-gradient(90deg, white, white 95%, transparent);
			}
			._56fec8e8b8048fe0-plusIcon {
				color: var(--text-normal);
			}
			&:hover {
				._56fec8e8b8048fe0-content {
					--webkit-mask-image: linear-gradient(90deg, white, white 87%, transparent 92%, transparent);
					mask-image: linear-gradient(90deg, white, white 87%, transparent 92%, transparent);
				}
			}
			&.selected-rZcOL- {
				background: var(--foreground);
				&::after {
					background: linear-gradient(90deg, transparent, var(--foreground-double));
				}
			}
			&::after {
				background: transparent;
			}
		}
		.react-datepicker,
		.react-datepicker__header {
			background: transparent;
		}
		.react-datepicker__month {
			background: var(--background-secondary);
			border-radius: 3px;
		}
		.react-datepicker__day {
			border-color: var(--foreground);
			background: var(--foreground);
			&--selected::after {
				background: var(--gradient);
			}
		}
		.react-datepicker__day--disabled,
		.react-datepicker__day--outside-month {
			background: transparent;
		}
	}
	.bd818628221af7aa-searchAnswer {
		background: var(--foreground);
		margin-left: 0;
	}
	.bd818628221af7aa-searchFilter {
		background: var(--foreground);
	}
}
