#app-mount {
	._09f65b4b8a3f8d26-picker {
		border: none;
		background: var(--foreground);
		animation: fadeIn 0.3s ease forwards;

		// Searchbar
		.inner_fea832 {
			background: var(--background-secondary);
		}
	}
}
