#app-mount {
    ._0f481cbbd7530492-topicsPillContainer {
        //This should never be highly transparent and no color really matches so we will use a custom one
        background: rgb(0, 0, 0, 0.8);
    }

    ._0f481cbbd7530492-topicsDropdownBase {
        border: none;
    }

    ._0f481cbbd7530492-topicsPillCaret {
        background: var(--foreground-double);
    }
}
